{% load static %}
<head>
    <title>
            대학생 인력 중개 사이트 H.R.P입니다!!!
    </title>

    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

    <link rel = "stylesheet" href = "{% static 'css/MP.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Gugi&display=swap&subset=korean" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Gaegu&display=swap&subset=korean" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=East+Sea+Dokdo&display=swap&subset=korean" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Black+And+White+Picture&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Song+Myung&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cute+Font&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hi+Melody&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>

<body>
    <h1><strong>HRP(Human Resource PlatForm)에 오신 것을 환영합니다!!!</strong></h1>
    <img src = {% static 'img/WORK.jpg'%} height = "300px" alt="" class="img-thumbnail" style="margin-left: auto; margin-right: auto; display: block;"/>
    <div class = "mainlinks">
        <a href = "{% url 'accounts:signup' %}" class="btn btn-warning" >Signup</a>
        <a href = "{% url 'login' %}" class="btn btn-warning" >Login</a>
        <a href = "{% url 'new' %}" class="btn btn-success">New</a>
        <a href = "{% url 'home' %}" class="btn btn-success">Home</a>
    
        {% if user.is_active %}
        <p>{{ user.username }}님 반갑습니다!</p>
        <p><a href = "{% url 'logout' %}" class="btn btn-danger">logout</a></p>

        {% else %}
        <p>당신은 로그인 하지 않았습니다! 로그인 해주세요!</p>

        {% endif %}

        
        <h3 id = "Yes"><strong>열심히 일하고 싶은 당신이여! 더 이상, 두려워하지 말아라!</strong></h3>
    </div>

    
    {% block content %}
    {% endblock %}


</body>