{% extends "MP/base.html" %}

{% block content %}

    <div>
        <h2 class="bg-warning">{{post.title}}</h2>
        <p class="bg-danger">{{post.created_date}}</p>
        <p class="bg-danger">{{post.text}}</p>
        
        <a href = "{% url 'edit' post.id %}" class="btn btn-info">수정하기!!</a>
        <a href = "{% url 'delete' post.id %}" class="btn btn-danger">삭제하기!!</a>
        
    </div>

    <hr>

    <p>댓글!! {{post.comments.count}}개</p>

    {% for comment in post.comments.all %}
    <div>
        <p class="bg-danger">{{comment.created_date}}</p>
        <p class="bg-warning"><strong>{{comment.nickname}}</strong></p>
        <p class="bg-danger">{{comment.text|linebreaks}}</p>

        <a href = "{% url 'comment_delete' comment_id=comment.id %}" class="btn btn-warning" onclick="return confirm('정말로 삭제하시겠습니까?')">댓글 삭제</a>
        <br>
        <br>
        <br>

    </div>
    {% empty %}
    <p>댓글이 존재하지 않습니다!!!</p>
    {% endfor %}



    <div class="form-group">
        <h4>댓글 작성</h4>
        <form method="POST" action="{% url 'add_comment' post.id%}">
            {% csrf_token %}
            {{ form.as_p }}
            
            <button type="submit" class="btn btn-primary">작성하기!!!</button>
        </form>
    </div>

    

{% endblock %}
